 
<!--=====================================欢迎页开始============================================-->
				<div class="col-sm-12 col-md-12 clo-xs-12">              
                              <h2 class="page-header">管理员  {$adminId}</h2>
                    
                              <div class="row placeholders">
                                <div class="col-xs-12  col-sm-3 col-md-5 placeholder">
                                  <h4>当前登录IP : {$ip}</h4>          
                                </div>
                                <div class="col-xs-12 col-md-5  col-sm-3  placeholder">
                                  <h4>当前登录IP所处位置 : {$location}</h4>
                                </div>                                                              
                              </div> 
                              
                              <div class="row placeholders">
                                <div class="col-xs-12 col-md-5  col-sm-3 placeholder">
                                  <h4>上次登录IP : {$queryIp}</h4>
                                </div>
                                <div class="col-xs-12 col-md-5  col-sm-3  placeholder">
                                  <h4>上次登录IP所处位置 : {$queryLocation}</h4>
                                </div>     
                              </div>
                 </div>   	
<!--=====================================欢迎页结束============================================-->






